# Python
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# Type checkers
.mypy_cache/
.dmypy.json

# macOS
.DS_Store
